.Icon-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
  /* background-color: #CCC; */
}
.Icon-container--check {
  left: 12px;
  position: absolute;
}
.Icon-container--edit {
  position: absolute;
  right: 48px;
  top: -24px;
}
.Icon-container--delete {
  position: absolute;
  right: 0;
  top: -24px;
}

.Icon-svg {
  height: 24px;
  transition: fill 0.15s;
  width: 24px;
}
.Icon-container:hover .Icon-svg--check {
  fill: #4caf50;
}
.Icon-container:hover .Icon-svg--edit {
  fill: #61dafa;
}
.Icon-container:hover .Icon-svg--delete {
  fill: red;
}
